<style>
   .partial-post-view__item {
      text-decoration: none;
      color: inherit;
   }

   .partial-post-view__item-thumb {
      margin: 0;
      width: 100%;
      height: 300px;
      position: relative;
      border-radius: 12px;
   }

   .partial-post-view__item-thumb-image {
      width: inherit;
      height: inherit;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: inherit;
   }

   .partial-post-view__item-thumb-text {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      padding-left: 1rem;
      padding-right: 1rem;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      background-color: rgba(255, 255, 255, 0.9);
   }

   .partial-post-view__item-title {
      padding-top: 1rem;
      line-height: 1.8rem;
   }

   .partial-post-view__item:hover .partial-post-view__item-thumb {
      box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
   }

   .partial-post-view__item:focus .partial-post-view__item-title {
      text-decoration: underline;
   }
</style>

<a 
   href="<%= postUrl %>" 
   title="<%= postTitle %>" 
   class="partial-post-view__item" 
   tabindex="<%= postIndex + 1 %>">
   <figure class="partial-post-view__item-thumb">
      <div 
         class="partial-post-view__item-thumb-image" 
         style="background-image: url('<%= postCoverImageUrl %>')">
      </div>
      <figcaption class="partial-post-view__item-thumb-text">
         <strong>
            <%= postTopic %>
         </strong>
         <small>
            <%= postPublishTime %>
         </small>
      </figcaption>
   </figure>

   <h3 class="partial-post-view__item-title">
      <%= postTitle %>
   </h3>
   <p class="partial-post-view__item-desc">
      <%= postDesc %>
   </p>
</a>
