<!DOCTYPE html>
<html lang="en">
   <head>
      <% if (pageTitle.startsWith('Fivemin')) { %>
      <title><%= pageTitle %></title>
      <% } else { %>
      <title><%= pageTitle %> - Fivemin</title>
      <% } %>
      <meta name="keywords" content="Fivemin, Fivmin, 5min, Blogging, Blog, Blog posts, Blogger, Blogging Website, Tips, History, Science, Finance, Technology" />
      <meta name="description" content="Fivemin is the best resource for in-depth and up-to-date information on a wide range of topics, from history to science to literature. Visit Fivemin today to learn more!" />
      <meta charset="UTF-8" />
      <meta name="author" content="Rajat Sharma" />
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="apple-mobile-web-app-title" content="Fivemin" />
      <meta name="apple-mobile-web-app-status-bar-style" content="default" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="application-name" content="Fivemin" />
      <meta name="theme-color" content="#181818" />

      <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      
      <!-- Favicons -->
      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
      <link rel="icon" type="image/png"  href="/favicon-16x16.png" sizes="16x16" />
      <link rel="icon" type="image/png"  href="/favicon-32x32.png" sizes="32x32" />
      <link rel="icon" type="image/png"  href="/favicon-48x48.png" sizes="48x48" />
      <link rel="icon" type="image/png"  href="/favicon-64x64.png" sizes="64x64" />
      <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192" />

      <!-- Apple touch icons -->
      <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-57x57.png" sizes="57x57" />
      <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-60x60.png" sizes="60x60" />
      <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-72x72.png" sizes="72x72" />
      <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-72x72.png" sizes="72x72" />
      <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-76x76.png" sizes="76x76" />
      <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-114x114.png" sizes="114x114" />
      <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-120x120.png" sizes="120x120" />
      <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-120x120.png" sizes="120x120" />
      <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-144x144.png" sizes="144x144" />
      <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-ipad.png" sizes="152x152" />
      <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-ipad-retina.png" sizes="167x167" />
      <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-iphone-retina.png" sizes="180x180" />
      <link rel="apple-touch-startup-image" type="image/png" href="/launch-icon.png" sizes="192x192" />
      
      <link rel="mask-icon" href="/mask-icon.svg" color="#181818" />

      <link
         href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
         rel="stylesheet"
      />
      <link
         href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap"
         rel="stylesheet"
      />
      <link rel="stylesheet" href="/default.css" />
      <link rel="stylesheet" href="/utils.css" />
      <style>
         main {
            display: flex;
            flex-direction: column;
            width: 700px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
         }

         @media (max-width: 767px) {
            main {
               width: 90vw;
               margin-top: 70px;
            }
         }

         @media (min-width: 768px) and (max-width: 1023px) {
            main {
               min-width: 600px;
               max-width: 700px;
            }
         }

         @media (min-width: 1024px) {
            main {
               width: 900px;
            }
         }
      </style>
   </head>

   <body>
      <%- include('partials/header') %>
      <%- include(pageContent) %>
      <%- include('partials/footer') %>
   </body>
</html>
