<style>
   .post-title {
      font-weight: 600;
   }
   .post-content {
      padding-top: 5rem;
      padding-bottom: 5rem;
   }
   .post-body h1,
   .post-body h2,
   .post-body h3,
   .post-body h4,
   .post-body h5,
   .post-body h6 {
      padding: 8px;
   }
   .post-cover-image {
      border-radius: 12px;
      height: 400px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('<%= postCoverImageUrl %>');
   }
</style>

<main class="post-content">
   <h1 class="post-title"><%= postTitle %></h1>
   <p class="post-meta">
      <a href="<%= postTopicUrl %>" class="post-topic"><%= postTopic %></a>&nbsp;•&nbsp;<small><%= postPublishTime %></small>
   </p>
   <p class="post-desc"><%= postDesc %></p>
   <div class="post-cover-image"></div>
   <section class="post-body">
      <p>
         Lorem <u>ipsum dolor sit amet</u> consectetur adipisicing elit.
         <a href="#">Vel assumenda ea sapiente voluptates</a> eum quas dolor dolorum.
         Fugiat deserunt, nemo perspiciatis, dolorem architecto laborum totam deleniti
         consequuntur pariatur repudiandae necessitatibus.
      </p>
      <p>
         Lorem ipsum dolor sit amet, <b>consectetur</b> adipisicing elit.
         <i>Maxime exercitationem rerum quibusdam</i> mollitia ipsum tempore aut. Sunt
         tempore debitis, dolorem numquam libero maxime omnis facere rerum vero dolor
         commodi obcaecati distinctio voluptatum delectus. Rem quos id voluptates maxime
         nobis ab tempora necessitatibus pariatur architecto aliquid adipisci earum dolor
         consequatur debitis aperiam eaque tempore reprehenderit sequi nemo ut sunt quae,
         ipsa excepturi quasi? Libero placeat atque voluptatem ullam labore, aliquid sit
         ut numquam obcaecati dignissimos inventore eius non doloremque ea quasi est
         quaerat repudiandae cumque. Facere deleniti itaque, ex tempore eos earum, debitis
         obcaecati voluptas dicta magnam repudiandae? Reiciendis magnam soluta et dolor
         rerum dolores blanditiis labore, mollitia excepturi eum ad consectetur, qui vero
         odit, maiores ex cupiditate delectus esse quaerat!
      </p>
   </section>
</main>
