<style>
   .post-content {
      width: 700px;
   }
   .post-tag-links {
      display: flex;
      gap: var(--gap-half);
      justify-content: center;
   }
   .fm-post__cover_image {
      border-radius: 12px;
      height: 400px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('<%= postCoverImageUrl %>');
   }
   .post-body h1,
   .post-body h2,
   .post-body h3,
   .post-body h4,
   .post-body h5,
   .post-body h6 {
      padding: 8px 0;
   }
   .post-body pre {
      line-break: anywhere;
      white-space: break-spaces;
   }

   .fm-post__cover_image, .fm-post__paragraph {
      position: relative;
   }
   .fm-post__caption {
      display: block;
      text-align: center;
      font-size: 90%;
      color: var(--accents-4);
   }
   .fm-post__cover_image_ref, .fm-post__image_ref {
      display: inline-flex;
      position: absolute;
      min-width: 60px;
      text-align: center;
      top: var(--gap-half);
      right: var(--gap-half);
      padding: var(--gap-quarter) var(--gap-half);
      background-color: var(--overlay-dark);
      color: var(--light);
      border-radius: 25px;
      opacity: 0.7;
      transition: opacity 120ms ease, background-color 40ms linear;
   }
   .fm-post__cover_image_ref small, .fm-post__image_ref small {
      margin-left: auto;
      margin-right: auto;
   }
   .fm-post__cover_image_ref:hover, .fm-post__image_ref:hover {
      background-color: var(--light-fr);
      opacity: 1;
   }
   .fm-post__cover_image_ref:focus, .fm-post__image_ref:focus {
      background-color: var(--light-fr);
   }

   @media (max-width: 767px) {
      .post-content {
         width: 90vw;
      }
      .fm-post__cover_image {
         height: 200px;
      }
   }
</style>

<main class="post-content page-content-y-padding">
   <h1 class="post-title"><%= postTitle %></h1>
   <p class="post-meta">
      <a href="<%= postTopicUrl %>" class="post-topic"><%= postTopic %></a>&nbsp;•&nbsp;<small><%= postPublishTime %></small>
   </p>
   <div class="fm-post__cover_image">
      <% if (postCoverImageRefName.length && postCoverImageRefUrl.length) { %>
         <a 
            href="<%= postCoverImageRefUrl %>" 
            target="_blank" 
            class="fm-post__cover_image_ref">
            <small><%= postCoverImageRefName %></small>
         </a>
      <% } %>
   </div>
   <br />
   <section class="post-body">
      <%- postBody %>
   </section>

   <br />

   <div class="post-tag-links">
      <% for (const tag of postTags) { %>
         <a href="<%= `/search?q=${encodeURI(tag)}` %>" class="post-tag-link app-button small adaptive">
            <small><%= tag %></small>
         </a>
      <% } %>
   </div>
</main>
